/**
 * Entry point for applcation-wide CSS.
 */

 @import "tailwind.css";
 @import "brand.scss";
 @import "colors";

 .remove-skeleton-gap {
   .b-skeleton {
     margin-top: 0rem;
   }
 }

//TODO: import additional global CSS here.
